:root {
    /* Vars */
    --htmlrpg-fontsize: 1.4rem;
}

/*** Core Elements ****/
body {
    font-size: 62.5%;
}

/*** Utilities ***/
.htmlrpg-italic {
    font-style: italic;
}

.htmlrpg-node {
    /* For later */
}

.htmlrpg-page {
    /* Section */
    font-size: var(--htmlrpg-fontsize);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    padding: 32px;
}

@media( max-width: 992px ) {
    .htmlrpg-page {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media( max-width: 768px ) {
    .htmlrpg-page {
        grid-template-columns: repeat(1, 1fr);
    }
}

.htmlrpg-column.htmlrpg-column--span {
    grid-column: 1/-1;
}

.htmlrpg-column {
    break-inside: avoid-column;
}

.htmlrpg-paragraph {
}